 style{
    body {
        background-color: #0e0e0e;
        color: #f5e2c8;
      }
      .navbar, footer {
        background-color: #ff6a00 !important;
      }
      .card {
        background-color: #1a1a1a;
        border: 1px solid #ff6a00;
      }
      .btn-primary {
        background-color: #ff6a00;
        border-color: #ff6a00;
      }
      .btn-primary:hover {
        background-color: #ff8125;
        border-color: #ff8125;
      }
      .carousel-item img {
        object-fit: cover;
        height: 280px;
      }
    }
